<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Succesfully applied to, <%= @job.title %></h1>
<p>
  You have successfully applied to the following Job: <%= @job.title %>.<br>
  The application deadline is  : <%= @job.deadline %>
</p>
<p>
  To login to the site, just follow this link: <%= @url %>.
</p>
<p>Thanks and have a great day!</p>
</body>
</html>