<div id="popup_pg" class="popup modal">
  <span class="modal-header">Post Display</span>
  <a class="close_popup" onclick="close_popup()">&#88;</a>
  <div class="main_text modal-body"></div>
  <div class="popup_down_right modal-footer">
    <div class="btn_wrapper">
      <%= link_to '#',:id=>"action_click",:onclick =>"" do%>
          <button class="button button_primary"></button>
      <% end%>
    </div>
  </div>
</div>
