<footer class="footer">
  <small>
    DireWolf Site by Shanil Puri, James Beavers, and Karthik Bhupalam
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   "#" %></li>
      <li><%= link_to "Contact", "#" %></li>
    </ul>
  </nav>
</footer>

